html, body, header, #intro {
    height: 100;
}

#intro {
    background: url
    ("http://hdqwalls.com/download/1/amd-ryzen-8k-hw-7680x4320.jpg")
    no-repeat center center fixed;
    background-size: cover;
}