html, body, header, #intro {
    height: 100%;
}

html * {
        font-family: "Lucida Console", 'Courier New', Courier, monospace;
}

#intro {
    background: url("/img/banner.jpg") no-repeat center center fixed;
    background-size: cover;
}