html, body, header, #intro {
    height: 100%;
}

html * {
        font-family: "Lucida Console", 'Courier New', Courier, monospace;
}

body {
    background: url("/img/banner.jpg") center center fixed;
    background-repeat: repeat-y;
    background-size: cover;
}